*.elc
*~
psimacs.el
custom-elisp.el
racket-mode
./snippets
recentf
elpa
eshell
tramp
transient
org
auto-save-list
projectile-bookmarks.eld
anaconda-mode
.cache
.lsp*
.dap-breakpoints
.extension
games
